$green_main: #00b449
$black: #050505
$gray: #767676
$red: #d11b1b
$lightgray: #eeeeee
//HOVER OFF//
@media all and (max-width: 1024px) 
	.main_wrapper
		.main_text_title	
			.main_line
				margin: 10px 0px 20px 0px
		.next:hover, .prev:hover
			border-color: $gray
		.next:hover
			right: 0
		.prev:hover
			left: 0
		.header_wrapper
			.header
				.main_nav
					ul
						li
							a:hover 
								color: $black	
						li:hover
		.main_head
			.main_head_ckroll
				margin-top: 100px
		.main_service
			.main_service_items
				.main_service_item
					.main_service_item_gradient
						display: none
				.main_service_item:hover
					top: 0
					left: 0
					.main_service_item_title
						opacity: 1
		.main_partner
			.partner_items
				.partner_item
					img[src*="hover"]
						display: none
		.ai_items
			.ai_item
				.ai_item_button:hover
					transform: scale(1)
		.web_info
			.web_info_items
				.web_info_accordion
					.web_info_accordion_item
						.accordion_item_header:hover 
							transform: scale(1)
							background: #fff
							p
								color: $black
		.partner_head
			margin-top: 150px
		.partner_info
			.main_circle_img
				transform: translate(0, -41.15%)
				width: 76%

@media all and (max-width: 768px)
	.main_wrapper
		.next
			margin-right: 10px
		.prev
			margin-left: 10px
		.form_title
			font-size: 19.5px
			margin-bottom: 20px
		.main_use_form, .feedback_form, .popup_form, .web_info_form
			padding: 30px 30px
			.forma_group
				margin-bottom: 20px
			.checkbox
				input
					position: absolute
					z-index: -1
					opacity: 0
					margin: 10px 0 0 20px
				.checkbox_text 
					position: relative
					padding: 0 0 0 30px
					cursor: pointer
					font-size: 16px
					color: $black
				.checkbox_text:before 
					content: ''
					position: absolute
					left: 0
					width: 20px
					height: 20px
					box-shadow: inset 0px 1px 3px 0px rgba(13, 13, 13, 0.5)
					transition: background-color .2s ease-in-out
					background-color: #fff
			button
				margin-top: 25px
		.main_text_title
			p
				font-size: 22px
				line-height: 1.2	
			.main_line
				margin: 5px 0px 10px 0px
		.main_text_content
			font-size: 15px
			p
				margin-bottom: 15px
		.main_head
			.main_head_img
				left: 28%
				width: 72%
			.main_head_text	
				.main_head_title
					font-size: 40px
				.main_head_subtitle
					font-size: 20px
			.main_head_ckroll
				margin-top: 140px
				.main_head_ckroll_text
					font-size: 14px
				.main_head_ckroll_line
					width: 35px
		.main_about
			padding-bottom: 50px
		.main_service
			padding: 70px 4.3% 70px 4.3%
			.main_service_items
				flex-wrap: wrap
				justify-content: center
				.main_service_item
					width: calc(50% - 30px)
					margin: 20px 15px
		.main_partner
			padding-bottom: 100px
			.partner_items
				.partner_item
					width: 33%
					display: flex
					align-items: center
					justify-content: center
					margin-top: 30px
		.main_feedback
			padding-bottom: 70px
			.feedback_map
				width: 60%
			.feedback_text
				width: 40%
				.feedback_form
					padding: 0 
		.main_footer
			padding: 0 4.3%
			height: 70px
		.partner_head
			margin-top: 120px
		.partner_info
			padding: 50px 4.3%
			.main_circle_img
				transform: translate(0, -41.15%)
				width: 90%
			.partner_info_left
				.partner_logo_items
					.partner_logo_item
						width: 50% !important
						margin-bottom: 30px
		.web_head
			padding-top: 50px
			.web_head_bcg
				left: 25%
				width: 75%
			.main_title
				margin-left: 30px
				font-size: 26px
			.web_head_text
				width: 65%
				font-size: 17px
				margin-left: 30px
		.web_info
			padding: 50px 4.3%
			.main_circle_img
				width: 95%
		.web_info_items
			.web_info_accordion
				.web_info_accordion_item
					.accordion_item_header
					.accordion_item_content
						padding: 10px 15px
		.web_sites
			margin-bottom: 60px
		.web_items
			.web_item_text
				li
					span
						font-size: 16px
				li::before
					span
						font-size: 16px
		.web_feedback
			padding-bottom: 60px
		.ai_head
			.ai_head_text
				font-size: 17px	
				width: 45%
				top: 40%
		.main_with
			padding: 50px 4.3%
			.main_with_items
				justify-content: space-around	
			.main_with_item
				width: 45%
				text-align: center
				margin-bottom: 30px
				img
					width: 80%
		.ai_items
			.ai_item
				padding: 15px 0
			.ai_item_img
				padding: 0
			.ai_item_text
				.main_text_content
					li 
						font-size: 15px	
				.ai_item_button
					width: 140px
					height: 40px
					margin-top: 10px	
					p
						font-size: 16px	
						line-height: 40px	
		.ai_info
			.popup_form
				.close
					top: 3px
					right: 3px
@media all and (max-width: 760px)
	.main_wrapper
		.header_wrapper
			.header
				padding: 0px 40px
				.main_nav
					background-color: #fff
					ul
						display: none
						.subnav
							display: block	
							position: relative
							box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0)
							padding: 0
							height: auto
							animation: subnav_opacity 0s
							ul
								box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0)
								padding: 0
								position: relative
								top: 0

								li
									display: block	
								li:last-child
									margin-bottom: 0	
					#nav_toggle
						display: block
				.main_nav.active
					background-color: #fff
					ul
						display: block	
						position: absolute
						background-color: #fff
						top: 40px
						right: 0
						box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
						padding: 25px
						li
							padding: 0
							margin-bottom: 10px
@media all and (max-width: 600px)
	.main_wrapper
		.main_feedback
			padding-bottom: 35px
			flex-wrap: wrap
			.feedback_text, .feedback_map
				width: 100%
				margin: 0px
			.feedback_map
				height: 350px
			.feedback_bcg
				width: 100%	
				top: 0
@media all and (max-width: 620px)

	.main_wrapper
		.form_title
			font-size: 18px
			margin-bottom: 15px
		.main_use_form, .feedback_form, .popup_form, .web_info_form
			padding: 25px 25px
			margin-right: 0
			margin-left: 0
			.forma_group
				margin-bottom: 20px
				input::placeholder
					font-size: 16px	
			.checkbox
				input
					position: absolute
					z-index: -1
					opacity: 0
					margin: 10px 0 0 20px
				.checkbox_text 
					position: relative
					padding: 0 0 0 30px
					cursor: pointer
					font-size: 16px
					color: $black
				.checkbox_text:before 
					content: ''
					position: absolute
					left: 0
					width: 20px
					height: 20px
					box-shadow: inset 0px 1px 3px 0px rgba(13, 13, 13, 0.5)
					transition: background-color .2s ease-in-out
					background-color: #fff
			button
				margin-top: 15px
				font-size: 0	
				height: 40px	
				width: 100px	
				margin-right: auto
				margin-left: auto
				display: block	

		.main_text_title
			text-align: center	
			p
				font-size: 21px
				line-height: 1.2
			.main_line
				margin: 3px auto 8px auto
		.main_text_content
			font-size: 15px
			text-align: left
			p
				margin-bottom: 15px
		.header_wrapper
			font-size: 0
			border: 0px
			position: fixed
			top: 0
			padding: 0
			.header
				height: 75px
				.main_nav.active
					a
						font-size: 18px	
		.main_head
			margin-top: 75px
			overflow: hidden
			.main_head_img
				width: calc(100% - 5%)
				margin: 0px 2.5%
				left: 0	
			.main_head_text
				.main_head_title
					font-size: 24px	
					font-weight: bold	
				.main_head_subtitle
					position: relative
					top: 50px	
					font-size: 18px	
			.main_head_ckroll
				display: none
		.main_about
			padding-bottom: 35px	
			.main_circle_img
				width: 100%	
			.main_about_items
				.main_about_img
					display: none	
				.main_about_text
					width: 100%	
					padding: 0
					text-align: center	
				.main_text_content
					text-align: left
		.main_use
			flex-wrap: wrap
			.main_use_text, .main_use_form
				width: 100%
			.main_use_text
				text-align: center
		.main_service
			padding: 35px 4.3%
			.main_service_items
				flex-wrap: wrap
				justify-content: center
				.main_service_item
					width: 80%
					margin: 20px 15px
					.main_service_item_title
						font-size: 20px
						padding: 15px
		.main_partner
			padding-bottom: 100px
			text-align: center	
			.partner_items
				.partner_item
					width: 50%
					display: flex
					align-items: center
					justify-content: center
					margin-top: 30px
		.main_feedback
			.feedback_text
				margin-bottom: 35px
				.main_text_title
					.main_line
						margin-right: 0
						margin-left: 0
				input
					background: transparent
			.feedback_map
				height: 350px
				.feedback_map_info
					padding: 10px
					font-size: 15px
			.feedback_bcg
				width: 100%	
				top: 0
		.main_footer
			padding: 0px 4.3%
			.footer
				font-size: 12px	
				flex-wrap: wrap
				align-content: center
		.partner_head
			flex-wrap: wrap
			.partner_head_left, .partner_head_right
				width: 100%
				margin-right: 0
				margin-left: 0
			.main_text_title
				.main_line
					margin-right: 0
					margin-left: 0	
			.partner_head_left
				margin-bottom: 20px	
		.partner_info
			flex-wrap: wrap
			.partner_info_left, .partner_info_right
				width: 100%	
				margin-right: 0	
				margin-left: 0	
			.partner_info_left
				.partner_logo_items
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					.partner_logo_item
						img[src*="hover"]
							display: none
		.ai_head
			margin-top: 75px
			min-height: 0
			margin-bottom: 35px	
			.ai_head_bcg
				opacity: .6
			.main_title, .ai_head_text
				padding: 0px 4.3%
			.main_title
				top: 5%
				font-size: 22px	
			.ai_head_text
				font-size: 16px
				top: 17%
				width: 100%	
		.main_with
			padding-bottom: 10px
			.main_with_items
				.main_with_item
					width: 48%	
					.main_with_img
						width: 65%
						img

					.main_with_title
						font-size: 20px	
						margin: 10px 0px
				.main_with_item:last-child
					.main_with_img
						img
							width: 91%
		.ai_info
			padding-bottom: 35px
			.popup_form
				width: 90%	
			.ai_item
				flex-wrap: wrap
				justify-content: center
				.ai_item_img, .ai_item_text
					width: 100%
					margin-right: 0
					margin-left: 0
				.ai_item_img
					display: none

				.ai_item_text
					order: 1
					text-align: center
					margin-bottom: 25px
					.ai_item_button
						margin-right: auto
						margin-left: auto
		.web_head
			margin-top: 75px
			padding: 0
			min-height: 0
			width: 100%
			.web_head_bcg
				width: 100%
				left: 0
				opacity: .8
			.main_title, .web_head_text
				margin-left: 0
				padding: 0 4.3%
			.main_title
				font-size: 20px
				top: 5%
			.web_head_text
				font-size: 16px
				top: 17%
				width: 100%
		.web_info
			.web_info_items
				flex-wrap: wrap
				justify-content: center
				.web_info_text, .web_info_accordion
					width: 	100%
					margin-right: 0
					margin-left: 0
				.web_info_text
					margin-bottom: 24px
		.web_sites
			margin-bottom: 35px
			.next, .prev
				top: 25%
				padding: 10px
			.web_items
				justify-content: center
				flex-wrap: wrap
				align-items: flex-start
				align-content: flex-start
				.web_item
					justify-content: center
					flex-wrap: wrap
					align-items: flex-start
					align-content: flex-start
					.web_item_img, .web_item_text
						width: calc(100% - 6%)
						margin-right: 0
						margin-left: 0
					.web_item_img
						width: 75%
						margin-bottom: 15px
					.web_item_text
						line-height: 1.2
		.web_feedback
			padding-bottom: 35px
		.main_footer
			.footer
				.footer_item
					font-size: 10px
@media all and (max-width: 375px)
	.main_wrapper
		.form_title
			font-size: 17px
			margin-bottom: 15px
		.main_use_form, .feedback_form, .popup_form, .web_info_form
			padding: 20px 20px
			.forma_group
				margin-bottom: 15px
				input::placeholder
					font-size: 14px	
			.checkbox
				input
					margin: 8px 0 0 16px
				.checkbox_text 
					padding: 0 0 0 25px
					font-size: 14px
			button
				margin-top: 12px
		.main_text_title
			p
				font-size: 20px
		.main_text_content
			font-size: 15px
		.header_wrapper
			.header
				font-size: 0	
				padding: 0 20px
				.main_nav.active
					right: 20px
					
					ul
						padding: 15px
						overflow: hidden
					>ul
						


		.main_service
			.main_service_items
				.main_service_item
					.main_service_item_title
						font-size: 19px
		.web_head
			.web_head_text
				font-size: 15px
		.main_with
			.main_with_items
				.main_with_item
					.main_with_title
						font-size: 18px
					.main_with_text
						font-size: 14px
@media all and (max-width: 320px)
	.main_wrapper
		.form_title
			font-size: 15.5px
			margin-bottom: 15px
		.main_use_form, .feedback_form, .popup_form, .web_info_form
			padding: 10px
			.forma_group
				margin-bottom: 10px
				input::placeholder
					font-size: 14.5px	
			.checkbox
				input
					margin: 5px 0 0 10px
				.checkbox_text 
					padding: 0 0 0 25px
			button
				margin-top: 12px
		.main_text_title
			p
				font-size: 18px
		.main_text_content
			font-size: 14px
		.header_wrapper
			.header
				height: 60px
				.main_nav.active
					right: 20px
					ul
						padding: 10px
						overflow: hidden
					>ul
						right: -15px
						width: 310px
		.main_head
			margin-top: 60px
			.main_head_text
				.main_head_title
					font-size: 22px
				.main_head_subtitle
					top: 30px
		.main_service
			.main_service_items
				.main_service_item
					.main_service_item_title
						font-size: 16px
					.main_service_item_more
						font-size: 14px
		.main_partner
			padding-bottom: 50px
			.partner_more
					a
						font-size: 14px
			.partner_items
				justify-content: space-between
				.partner_item
					width: auto
					margin-top: 20px
		.main_service
			.main_service_items
				.main_service_item
					margin-top: 0
		.main_feedback
			.feedback_text
				margin-bottom: 15px
		.partner_head
			margin-top: 100px
		.partner_info
			padding-bottom: 35px
			padding-top: 35px
			.partner_info_left
				.partner_logo_items
					.partner_logo_item
						width: auto !important
		.web_head
			margin-top: 60px
			.main_title
				top: 3%
				font-size: 18px
			.web_head_text
				font-size: 12.5px
				top: 15%
		.web_info
			padding-top: 25px
			padding-bottom: 25px
			li
				font-size: 14px
		.ai_head
			margin-top: 60px
			.main_title
				top: 3%
				font-size: 18px
			.ai_head_text
				font-size: 13px
		.main_with
			padding-top: 30px
			.main_with_items
				.main_with_item
					width: 100%
					.main_with_img
						width: 40%
		.ai_info
			.ai_items
				.ai_item
					.main_text_content
						li
							font-size: 14px

