@media all and (max-width: 1024px) {
  .main_wrapper .next:hover, .main_wrapper .prev:hover {
    border-color: #767676; }
  .main_wrapper .next:hover {
    right: 0; }
  .main_wrapper .prev:hover {
    left: 0; }
  .main_wrapper .header_wrapper .header .main_nav ul li a:hover {
    color: #050505; }
  .main_wrapper .main_head .main_head_ckroll {
    margin-top: 100px; }
  .main_wrapper .main_service .main_service_items .main_service_item .main_service_item_gradient {
    display: none; }
  .main_wrapper .main_service .main_service_items .main_service_item:hover {
    top: 0;
    left: 0; }
    .main_wrapper .main_service .main_service_items .main_service_item:hover .main_service_item_title {
      opacity: 1; }
  .main_wrapper .main_partner .partner_items .partner_item img[src*="hover"] {
    display: none; }
  .main_wrapper .partner_info .partner_info_left .partner_logo_items .partner_logo_item img[src*="hover"] {
    display: none; }
  .main_wrapper .ai_items .ai_item .ai_item_button:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .main_wrapper .web_info .web_info_items .web_info_accordion .web_info_accordion_item .accordion_item_header:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background: #fff; }
    .main_wrapper .web_info .web_info_items .web_info_accordion .web_info_accordion_item .accordion_item_header:hover p {
      color: #050505; }
  .main_wrapper .partner_head {
    margin-top: 150px; }
  .main_wrapper .partner_info .main_circle_img {
    -webkit-transform: translate(0, -41.15%);
    -ms-transform: translate(0, -41.15%);
    transform: translate(0, -41.15%);
    width: 76%; } }

@media all and (max-width: 768px) {
  .main_wrapper .next {
    margin-right: 10px; }
  .main_wrapper .prev {
    margin-left: 10px; }
  .main_wrapper .form_title {
    font-size: 19.5px;
    margin-bottom: 20px; }
  .main_wrapper .main_use_form, .main_wrapper .feedback_form, .main_wrapper .popup_form, .main_wrapper .web_info_form {
    padding: 30px 30px; }
    .main_wrapper .main_use_form .forma_group, .main_wrapper .feedback_form .forma_group, .main_wrapper .popup_form .forma_group, .main_wrapper .web_info_form .forma_group {
      margin-bottom: 20px; }
    .main_wrapper .main_use_form .checkbox input, .main_wrapper .feedback_form .checkbox input, .main_wrapper .popup_form .checkbox input, .main_wrapper .web_info_form .checkbox input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 20px; }
    .main_wrapper .main_use_form .checkbox .checkbox_text, .main_wrapper .feedback_form .checkbox .checkbox_text, .main_wrapper .popup_form .checkbox .checkbox_text, .main_wrapper .web_info_form .checkbox .checkbox_text {
      position: relative;
      padding: 0 0 0 30px;
      cursor: pointer;
      font-size: 16px;
      color: #050505; }
    .main_wrapper .main_use_form .checkbox .checkbox_text:before, .main_wrapper .feedback_form .checkbox .checkbox_text:before, .main_wrapper .popup_form .checkbox .checkbox_text:before, .main_wrapper .web_info_form .checkbox .checkbox_text:before {
      content: '';
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      -webkit-box-shadow: inset 0px 1px 3px 0px rgba(13, 13, 13, 0.5);
      box-shadow: inset 0px 1px 3px 0px rgba(13, 13, 13, 0.5);
      -webkit-transition: background-color .2s ease-in-out;
      -o-transition: background-color .2s ease-in-out;
      transition: background-color .2s ease-in-out;
      background-color: #fff; }
    .main_wrapper .main_use_form button, .main_wrapper .feedback_form button, .main_wrapper .popup_form button, .main_wrapper .web_info_form button {
      margin-top: 25px; }
  .main_wrapper .main_text_title p {
    font-size: 22px; }
  .main_wrapper .main_text_title .main_line {
    margin: 10px 0px 20px 0px; }
  .main_wrapper .main_text_content {
    font-size: 15px; }
    .main_wrapper .main_text_content p {
      margin-bottom: 15px; }
  .main_wrapper .main_head .main_head_img {
    left: 28%;
    width: 72%; }
  .main_wrapper .main_head .main_head_text .main_head_title {
    font-size: 40px; }
  .main_wrapper .main_head .main_head_text .main_head_subtitle {
    font-size: 20px; }
  .main_wrapper .main_head .main_head_ckroll {
    margin-top: 140px; }
    .main_wrapper .main_head .main_head_ckroll .main_head_ckroll_text {
      font-size: 15px; }
  .main_wrapper .main_about {
    padding-bottom: 50px; }
  .main_wrapper .main_service {
    padding: 70px 4.3% 70px 4.3%; }
    .main_wrapper .main_service .main_service_items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .main_wrapper .main_service .main_service_items .main_service_item {
        width: calc(50% - 30px);
        margin: 20px 15px; }
  .main_wrapper .main_partner {
    padding-bottom: 100px; }
    .main_wrapper .main_partner .partner_items .partner_item {
      width: 33%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 30px; }
  .main_wrapper .main_feedback {
    padding-bottom: 70px; }
    .main_wrapper .main_feedback .feedback_map {
      width: 60%; }
    .main_wrapper .main_feedback .feedback_text {
      width: 40%; }
      .main_wrapper .main_feedback .feedback_text .feedback_form {
        padding: 0; }
  .main_wrapper .main_footer {
    padding: 0 4.3%;
    height: 70px; }
  .main_wrapper .partner_head {
    margin-top: 120px; }
  .main_wrapper .partner_info {
    padding: 50px 4.3%; }
    .main_wrapper .partner_info .main_circle_img {
      -webkit-transform: translate(0, -41.15%);
      -ms-transform: translate(0, -41.15%);
      transform: translate(0, -41.15%);
      width: 90%; }
    .main_wrapper .partner_info .partner_info_left .partner_logo_items .partner_logo_item {
      width: 50%;
      margin-bottom: 30px; }
  .main_wrapper .web_head {
    padding-top: 50px; }
    .main_wrapper .web_head .web_head_bcg {
      left: 25%;
      width: 75%; }
    .main_wrapper .web_head .main_title {
      margin-left: 30px;
      font-size: 26px; }
    .main_wrapper .web_head .web_head_text {
      width: 65%;
      font-size: 17px;
      margin-left: 30px; }
  .main_wrapper .web_info {
    padding: 50px 4.3%; }
    .main_wrapper .web_info .main_circle_img {
      width: 95%; }
  .main_wrapper .web_info_items .web_info_accordion .web_info_accordion_item .accordion_item_content {
    padding: 10px 15px; } }
