@font-face 
  font-family: "Circe"
  src: url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Bold.woff") format("woff")
$green_main: #00b449
$black: #050505
$gray: #767676
$red: #d11b1b
$lightgray: #eeeeee
$blue: #80d6e3
*
	padding: 0
	margin: 0
	box-sizing: border-box
	font-family: "Circe", sans-serif
	color: $black
.main_wrapper
	overflow: hidden
	width: 100%
	h1
		font-weight: 400
	#about
		position: relative
		top: -100px
	#contact
	#service
		position: relative
		top: -100px
	.slick-dots 
		button
			display: none
		li::before
			content: ''
			background-color: $green_main
			width: 6px
			height: 6px
			border-radius: 3px
			opacity: .5
			transition: 0.4s
			display: inline-block
			vertical-align: middle
			margin-right: 10px	
		.slick-active:before
			width: 8px
			height: 8px
			border-radius: 4px
			opacity: 1
	.main_text_title
		display: inline-block
		p, h2, h3
			font-size: 24px
			font-weight: bold
	.main_line
		width: 50%
		height: 2px
		background-color: $green_main
		margin: 15px 0px 25px 0px
	.main_text_subtitle
		display: inline-block
		p, h2
			font-size: 24px
			color: $green_main
			font-weight: bold
			a
				text-decoration: none
				color: $green_main
				cursor: text

	.main_text_content
		font-size: 17px
		p
			margin-bottom: 25px
			font-size: 17px
			a
				color: #000
				text-decoration: none
				cursor: text
		ul
			li
				list-style-type: none
				font-size: 17px
				a
					text-decoration: none
					cursor: text
			li::before
				content: ''
				background-color: $green_main
				width: 6px	
				height: 6px	
				border-radius: 3px
				display: inline-block
				vertical-align: middle
				margin-right: 10px	
		ol
			counter-reset: li
			padding: 0
			list-style-type: none
			li
				font-size: 17px
			li:before
				content: counter(li)
				counter-increment: li
				margin-right: 10px
				color: $green_main
				font-weight: bold
	.form_title
		font-size: 21px
		color: $green_main
		font-weight: bold
		line-height: 1.2
		margin-bottom: 25px
	.main_use_form, .feedback_form, .popup_form, .web_info_form,.delay_popup_form
		margin-left: 15px
		background-color: #fff
		position: relative
		z-index: 3
		padding: 55px 70px
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
		.forma_group
			margin-bottom: 25px
			input
				border: 0px
				outline: 0px
				border-bottom: 1px solid $gray
				width: 100%
				font-size: 18px
				color: $black
		.checkbox
			input
				position: absolute
				z-index: -1
				opacity: 0
				margin: 10px 0 0 20px
			.checkbox_text 
				position: relative
				padding: 0 0 0 40px
				cursor: pointer
				font-size: 16px
				color: $black
			.checkbox_text:before 
				content: ''
				position: absolute
				left: 0
				width: 20px
				height: 20px
				box-shadow: inset 0px 1px 3px 0px rgba(13, 13, 13, 0.5)
				transition: background-color .2s ease-in-out
				background-color: #fff
			input:checked + .checkbox_text:before 
				background-color: $green_main
		button
			height: 50px
			width: 130px
			background-color: $green_main
			border: 0px
			cursor: pointer
			margin-top: 30px
			p
				font-size: 18px
				text-align: center
				color: #fff
		button:hover
			transform: scale( 1.1)
			transition: .3s
	.next, .prev
		position: absolute
		display: block
		z-index: 10
		width: 20px
		height: 20px
		border-top: 4px solid $gray
		border-right: 4px solid $gray
		cursor: pointer
		border-radius: 4px
		transition: 0.3s
	.next:hover, .prev:hover
		border-color: $green_main
	.next:hover
		right: -5px
	.prev:hover
		left: -5px
	.next 
		transform: rotate(45deg)
		right: 0
		margin-right: 25px
		top: 50%
	.prev 
		transform: rotate(-135deg)
		left: 0
		top: 50%
		margin-left: 25px
		transform: translate(-50% 0)
.social_links
	width: 35px
	position: fixed
	top: 50%
	right: 0px
	transform: translateY(-50%)
	background-color: rgba(0, 0, 0, .2)
	border-radius: 5px 0px 0px 5px
	z-index: 15
	padding: 5px
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2)
	.social_link
		width: 100%
		svg
			transition: .4s
			width: 100%
			height: 25px
			width: 25px
			path, g
				fill: #fff
				transition: .4s ease-in-out
			g
				width: 100%	
		&.vk:hover
			svg
				path
					fill: #45668e
		&.facebook:hover
			svg
				path
					fill: #3b5998
		&.twitter:hover
			svg
				path
					fill: #00aced
		&.pinterest:hover
			svg
				path
					fill: #cb2027
		&.google:hover
			svg
				path
					fill: #dd4b39
		&.zen:hover
			svg
				path
					fill: #ff0404
		&.bird:hover
			svg
				path
					fill: #26b0f6
		&.medium:hover
			svg
				path
					fill: #1A1918
		&.twitter
			display: none
	.social_link:hover
		svg
			transform: scale(1.2)
.popup_delay
	position: relative
	.delay_button
		position: fixed
		bottom: 20px
		right: -200px
		z-index: 10
		button
			font-size: 24px
			padding: 10px 20px
			background-color: $green_main
			border: 0px
			color: #fff
			box-shadow: 0px 0px 5px 0px #000
			cursor: pointer
	.delay_wrp
		position: fixed
		z-index: 10
		width: 100%
		height: 100%
		top: 0
		left: 0
		display: none
		padding: 0
		background-color: rgba(0, 0, 0, .2)
	.delay_popup_form
		position: fixed
		top: 50%
		left: 50%
		display: none
		transform: translate(-50%, -50%)
		width: 60%
		margin-left: 0
		z-index: 11
		.close
			position: absolute
			right: 32px
			top: 32px
			width: 32px
			height: 32px
			cursor: pointer
		.close:before, .close:after 
			position: absolute
			left: 15px
			content: ' '
			height: 33px
			width: 2px
			background-color: $green_main
			
		.close:before 
			transform: rotate(45deg)
		
		.close:after 
			transform: rotate(-45deg)
.header_wrapper
	width: 100%
	padding: 0px 4.3%
	position: fixed
	top: 25px
	left: 0
	z-index: 4
	transition: top .4s
	.header
		padding: 0px 70px
		height: 70px
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		align-items: center
		background-color: #fff
		transition: .4s
		position: relative
		.logo
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			width: 220px
			img
				width: 100%
		.main_nav.active
			position: absolute
			right: 40px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			ul
				display: block
				li
					display: inline-block
					
		.main_nav
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: flex-end
			align-items: center
			ul
				display: inline-block
				li
					list-style-type: none
					display: inline-block
					padding: 0px  17px
					position: relative
					a
						line-height: 1.2
						font-size: 21px
						color: $black
						text-decoration: none
						transition: color .2s ease-in-out
					a:hover
						color: $green_main
					a::before
						content: ''
						height: 2px
						bottom: 0px
						left: 0px
						position: absolute
						width: 100%
						background-color: $green_main
						transition: .3s
						transform: scaleX(0)
					a:hover:before
						transform: scaleX(1)
				li:hover 
					.subnav 
						display: block
				.subnav
					position: absolute	
					background-color: #fff
					box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
					left: calc(50% + 25px)
					transform: translate(-50%, 0)
					width: 300px
					padding: 25px
					display: none
					
					animation: subnav_opacity 0.2s	
					li
						display: block
						padding: 10px 0px 0px 0px
					@keyframes subnav_opacity
						0% { height: 0px}
						0% { padding-top: 0px}
						0% { padding-bottom: 0px}
						100% { height: 155px}
			#nav_toggle
				position: relative
				height: 25px
				width: 35px	
				display: none
				span
					position: absolute
					left: 0px
					top: 10px
				span, span:before, span:after
					transition: all 500ms ease-in-out
					cursor: pointer
					border-radius: 5px
					height: 5px
					width: 35px
					background-color: $green_main
					position: absolute
					display: block
					content: ''
					transition: all .3s
					transform: rotate(0deg)
				span:before
					top: -10px
				span:after
					top: 10px
			#nav_toggle.active
				span
					background-color: transparent
					transition: all .3s
				span:before, span:after
					top: 0
				span:before
					transform: rotate(45deg)
				span:after
					transform: rotate(-45deg)
.scroll
	padding: 0px 4.3%
	top: 0
	.header
		height: 70px
.main_head
	width: 100%
	position: relative
	.main_head_img
		position: relative
		top: 0
		left: 35.78%
		width: 64.22%
		img
			width: 100%
	.main_head_text
		margin-left: 4.3%
		position: absolute
		top: 50%
		transform: translate(0, -50%)
		.main_head_title
			font-size: 50px
			line-height: 1.2
			span
				color: $green_main
		.main_head_subtitle
			color: $gray
			font-size: 21px
			line-height: 1.2
			display: block
			text-decoration: none
			transition: color 0.3s
		.main_head_subtitle:hover
			color: $green_main
	.main_head_ckroll
		position: absolute
		transform: rotate(90deg) translate(-50%, 0)
		transform-origin: right top 0
		right: 0
		margin-top: 65px
		margin-right: 4.35%
		.main_head_ckroll_text
			color: $black
			font-size: 16px
			font-weight: bold
			display: inline-block
		.main_head_ckroll_line
			background-color: $black
			height: 2px
			width: 50px
			vertical-align: middle
			margin-left: 7px
			display: inline-block
.main_about
	width: 100%
	font-size: 0
	position: relative
	padding-bottom: 100px
	.main_circle_img
		position: absolute
		z-index: -1
		right: 0
		transform: translate(0, -41.15%)
		width: 66.8%
		img
			width: 100%
	.main_about_items
		padding: 0px 4.3%
		display: flex
		flex-wrap: mowrap
		align-items: center
		z-index: 3
		position: relative
		.main_about_img, .main_about_text
			width: 50%
		.main_about_img
			padding-right: 15px
			img
				width: 100%	
		.main_about_text
			padding-left: 15px
.main_use
	display: flex
	padding: 0px 4.3%
	align-items: center
	flex-wrap: nowrap
	font-size: 0px
	.main_use_text, .main_use_form
		width: 50%
	.main_use_text
		margin-right: 15px
.main_with
	width: 100%
	padding: 100px 4.3%
	font-size: 0px
	.main_with_items
		display: flex
		flex-wrap: wrap
		align-items: top
		justify-content: space-between
	.main_with_item:nth-child(4)
		.main_with_img
			width: 45.6%
	.main_with_item
		width: 21.37%
		text-align: center
		.main_with_img
			width: 40%
			margin: auto
			img
				width: 100%
		.main_with_title
			font-size: 24px
			font-weight: bold
			color: $green_main
			margin: 15px 0px
			line-height: 1.2
		.main_with_text
			font-size: 17px
			a
				text-decoration: none
				cursor: pointer
.main_service
	width: 100%
	padding: 100px 4.3% 100px 4.3%
	font-size: 0px
	.main_service_items
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-wrap: no-wrap
		align-items: center
		justify-content: space-between
		width: 100%
		.main_service_item:nth-child(3)
			margin-right: 0px
		.main_service_item
			width: 33.33%
			display: block
			height: 250px	
			margin-right: 30px
			text-decoration: none
			position: relative
			background-color: #fff
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-content: 	space-between
			flex-wrap: wrap
			align-items: center
			justify-content: center
			top: 0
			left: 0
			transition: .4s
			text-align: center
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5)
			.main_service_item_title
				font-size: 22px
				font-weight: bold
				width: 100%	
				padding: 20px
				text-align: center
				transition: .4s
				opacity: 1
				line-height: 1.2
			.main_service_item_more
				font-size: 17px
				width: 100%
				position: relative
				top: -30px
				line-height: 1.2
				opacity: 1
				margin: 20px
				font-weight: bold
		.main_service_item::before, .main_service_item::after
			content: ''
			position: absolute
			top: 3%
			left: 3%
			z-index: 3
			bottom: 3%
			right: 3%
			transition: .6s
		.main_service_item::before
			border-bottom: 3px solid $green_main					
			border-top: 3px solid $green_main
			transform: scaleX(0)
		.main_service_item::after
			border-right: 3px solid $green_main					
			border-left: 3px solid $green_main
			transform: scaleY(0)
		.main_service_item:hover:before, .main_service_item:hover:after
			transform: scale(1)
			.main_service_item_description
				opacity: 1	

.main_partner
	padding: 0px 4.3% 150px 4.3%
	font-size: 0px
	clear: both
	.partner_items
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		align-content: center
		position: relative	
		z-index: 3	
		.partner_item
			position: relative
			img[src*="hover"]
				position: absolute
				top: 0
				left: 0
				opacity: 0
				transition: opacity .4s ease-in-out
		.partner_item:hover
			img[src*="hover"]
				opacity: 1	
	.partner_more
		float: right
		margin-top: 22px
		border-bottom: 1px solid $green_main	
		a
			color: $green_main
			text-decoration: none
			font-size: 18px
.main_blog
	padding: 0px 4.3%
	.blogs_items
		padding: 0px 0px
		overflow: visible
.main_feedback, .crypto_feedback
	padding: 0px 4.3% 100px 4.3%
	position: relative
	display: flex
	align-content: center
	.feedback_text, .feedback_map
		width: calc(50% - 15px)	
	.feedback_text
		margin-left: 15px
		padding: 20px 0px
		position: relative
		z-index: 3
		order: 2
		.feedback_form
			box-shadow: none
			padding: 0px
			margin-left: 0	
			background-color: transparent
			input
				background-color: transparent
	.feedback_map
		order: 1
		margin-right: 15px	
 		background-color: rgb(255, 255, 255)
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
		position: relative	
		z-index: 3
		.ymaps-2-1-62-map-copyrights-promo
			padding-bottom 100px
		.feedback_map_info
			position: absolute	
			background-color: rgba(255, 255, 255, .75)
			bottom: 0
			left: 0
			width: 100%
			padding: 20px
			text-align: left
			p
				font-size: 16px	
				line-height: 1.2
				font-weight: bold
				position: relative
				span:nth-child(1)
					font-weight: bold
					color: $green_main
				span:nth-child(2)
					position: absolute
					left: 80px
	.feedback_bcg
		position: absolute
		bottom: 0
		right: 0
		width: 64.5% 
		z-index: -1
		img
			width: 100%
.main_footer
	padding: 0px 9.76%
	width: 100%
	height: 90px
	border-top: 2px solid $green_main
	.footer
		display: flex
		justify-content: space-between	
		align-items: center
		height: 100%
		font-size: 16px
.partner_head
	margin-top: 200px
	display: flex
	flex-wrap: nowrap
	align-items: center
	justify-content: space-between
	padding: 0 4.3%
	width: 100%
	font-size: 0px
	.slick-slider .slick-track, .slick-slider .slick-list
		display: flex
		align-items: center
		width: 100%
	.partner_head_left, .partner_head_right
		width: calc(50% - 15px)
	.partner_head_left
		margin-right: 15px
		position: relative
		z-index: 3
		.partner_head_ipad
			width: 75.44%
			margin-right: auto
			margin-left: auto
			position: relative
			.ipad_items
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				width: 83.56%
				height: 88.12%
				background-color: #fff
				display: flex
				justify-content: center
				align-items: center
				.ipad_item
					position: absolute
					width: 83.56%
					display: flex
					justify-content: center
			.ipad_img
				width: 100%
	.partner_head_right
		margin-left: 15px
.partner_info
	padding: 100px 4.3%
	width: 100%
	font-size: 0px
	display: flex
	position: relative
	.main_circle_img
		position: absolute
		z-index: -1
		right: 0
		transform: translate(0, -41.15%)
		width: 66.8%
		img
			width: 100%
	.partner_info_left, .partner_info_right
		width: calc(50% - 15px)
	.partner_info_left
		overflow: visible
		margin-right: 15px
		.slick-list
			overflow: visible
			.slick-track
				width: 100% !important
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: space-between
				align-items: center
				flex-wrap: wrap
				overflow: visible
				align-content: center
				transform: translate3d(0px, 0px, 0px) !important
		.partner_logo_items

			justify-content: space-between
			align-items: center
			flex-wrap: wrap
			align-content: center
			position: relative	
			z-index: 3	
			cursor: pointer
			.partner_logo_item
				position: relative
				width: 33.33% !important
				display: inline-block
				display: flex
				justify-content: center
				align-items: center
				margin-bottom: 40px
				outline: 0px
				img[src*="hover"]
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					opacity: 0
					transition: opacity .4s ease-in-out
			.partner_logo_item.slick-current
				img[src*="hover"]
					opacity: 1	
			.partner_logo_item:hover
				img[src*="hover"]
					opacity: 1
			
	.partner_info_right
		margin-left: 15px
		.main_use_form
			padding-top: 30px
			padding-bottom: 30px
	.partner_info_bcg
		position: absolute
		bottom: 0
		left: 0
		width: 64.5%
		img
			width: 100%
.ai_head
	position: relative
	font-size: 0
	margin-bottom: 100px
	min-height: 400px	
	.ai_head_bcg 
		width: 100%
	.main_title, .ai_head_text
		position: absolute
		padding-left: 4.3%
	.main_title
		top: 30%
		left: 0px
		font-size: 24px
		font-weight: bold
	.ai_head_text
		top: 40%
		width: 45%
		font-size: 18px
		a[href=""]
			text-decoration: none
			cursor: text
		ul
			margin-left: 20px	
			margin-top: 10px
			li
				list-style-type: none
				font-size: 18px	
			li::before
				content: ''
				background-color: $green_main
				width: 6px	
				height: 6px	
				border-radius: 3px
				display: inline-block
				vertical-align: middle
				margin-right: 10px	
.ai_info
	padding: 0px 4.3% 50px 4.3%
	.ai_info_popup,
		position: fixed
		z-index: 10
		width: 100%
		height: 100%
		top: 0
		left: 0
		display: none
		padding: 0
		background-color: rgba(0, 0, 0, .2)
	.popup_form
		position: fixed
		top: 50%
		left: 50%
		display: none
		transform: translate(-50%, -50%)
		width: 60%
		margin-left: 0
		z-index: 11
		.close
			position: absolute
			right: 32px
			top: 32px
			width: 32px
			height: 32px
			cursor: pointer
		.close:before, .close:after 
			position: absolute
			left: 15px
			content: ' '
			height: 33px
			width: 2px
			background-color: $green_main
			
		.close:before 
			transform: rotate(45deg)
		
		.close:after 
			transform: rotate(-45deg)
.ai_items
	font-size: 0px		
	.ai_item
		width: 100%
		font-size: 0px
		display: flex
		padding: 20px 0px
		justify-content: space-between
		align-items: center
		.ai_item_img, .ai_item_text
			width: calc(50% - 15px)
		.ai_item_img 
			margin-right: 15px
			display: flex
			align-items: center	
			justify-content: center
			padding: 15px
			box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
			img
				width: 100%
			img[src*="ffp"]
				width: 50%
		.ai_item_text
			margin-left: 15px	
			.main_text_content
				p
					margin-bottom: 0
				li
					list-style-type: none
				li::before
					content: ''
					background-color: $green_main
					width: 4px	
					height: 4px	
					border-radius: 2px
					display: inline-block
					vertical-align: middle
					margin-right: 10px	
			.ai_item_button
				height: 50px
				background-color: $green_main
				transition: .3s
				margin-top: 30px
				cursor: pointer
				display: inline-block
				padding: 0px 20px
				p
					color: #fff
					font-size: 18px
					line-height: 50px
					text-align: center
		.ai_item_button:hover
			transform: scale(1.2)
	.ai_item:nth-child(even)
		.ai_item_img
			order: 2
			margin-left: 15px	
			margin-right: 0	
		.ai_item_text
			order: 1
			margin-right: 15px
			margin-left: 0	
.web_head
	min-height: 400px
	background-color: $lightgray
	position: relative
	z-index: 2
	.web_head_bcg
		position: relative
		top: 0
		left: 35.78%
		width: 64.22%
		img
			width: 100%
	.main_title, .web_head_text
		padding: 0 4.3%
		position: absolute
	.main_title
		font-size: 28px	
		font-weight: bold
		top: 25%
		margin-left: 50px	
		color: $green_main
	.web_head_text
		font-size: 18px
		top: 40%
		margin-left: 50px	
		width: 55%
.web_info
	padding: 100px 4.3%
	position: relative
	z-index: 3
	.main_circle_img
		position: absolute
		z-index: -1
		right: 0
		transform: translate(0, -41.15%)
		width: 66.8%
		img
			width: 100%
	.web_info_items
		display: flex
		align-items: center	
		justify-content: space-between	
		.web_info_text, .web_info_accordion
			width: 	calc(50% - 15px)
		.web_info_text
			margin-right: 15px
		.web_info_accordion
			margin-left: 15px
			background-color: #fff
			.web_info_accordion_item
				overflow: hidden
				position: relative
				z-index: 3
				background-color: #fff
				margin-bottom: 10px
				box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
				.accordion_item_header
					display: -webkit-flex
					display: -moz-flex
					display: -ms-flex
					display: -o-flex
					display: flex
					align-items: center
					cursor: pointer
					justify-content: space-between
					height: 50px
					position: relative
					border: 1px solid $lightgray
					transition: .3s
					p, h3
						display: inline-block
						margin-left: 30px
						transition: .2s
						font-size: 17px
						font-weight: bold
				.accordion_item_header:hover 
					background-color: $lightgray
					p, h3
						color: $green_main
						margin-left: 15px
						font-size: 19px
				.accordion_item_header::after 
						content: ''
						position: absolute
						display: inline-block
						width: 12px
						height: 12px
						border-top: 4px solid $green_main
						border-right: 4px solid $green_main
						transform-origin: 50% 7px
						transform: rotate(-45deg)
						transition: transform .2s ease-in
						right: 30px
						border-radius: 4px
				.accordion_item_content
					display: none
					padding: 25px
					font-size: 17px
			.web_info_accordion_item.active 
				.accordion_item_header
					background-color: $lightgray
					p
						margin-left: 15px
						font-size: 19px
				.accordion_item_header::after
					transform: rotate(135deg)
.web_sites
	position: relative
	margin: 0 4.3% 100px 4.3%
	padding: 20px 0px
	z-index: 3
	background-color: #fff
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
.web_items
	width: 100%
	position: relative
	z-index: 3
	padding-bottom: 20px
	display: flex
	align-items: center
	.slick-list
		.slick-track
			display: flex
			align-items: center
	.web_item
		display: flex
		align-items: center
		justify-content: space-between
		.web_item_img, .web_item_text
			width: calc(50% - 15px - 6%)
		.web_item_img
			margin: 10px 15px 10px 6%
			box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
			border-radius: 10px
			overflow: hidden
			img
				width: 100%
				overflow: hidden
		.web_item_text
			margin: 0 6% 0 15px
			li
				list-style-type: none
				span
					font-weight: bold
					font-size: 18px
				li
					margin-left: 30px
			li::before
				content: ''
				background-color: $green_main
				width: 4px	
				height: 4px	
				border-radius: 2px
				display: inline-block
				vertical-align: middle
				margin-right: 10px	
				span
					font-weight: bold
					font-size: 18px
				li
					margin-left: 30px
.web_feedback
	padding: 0px 4.3% 100px 4.3%
	position: relative
	z-index: 3
.crypto_head
	width: 100%	
	position: relative	
	.crypto_head_text
		margin-left: 4.3%
		position: absolute
		top: 50%
		transform: translate(0, -50%)
		z-index: 
		.crypto_head_title
			font-size: 50px
			line-height: 1.2
			color: $green_main
		.crypto_head_subtitle
			color: $gray
			font-size: 21px
			line-height: 1.2
	.crypto_head_img
		width: 50%
		position: relative	
		left: 50%
		z-index: -1
		img
			width: 100%	
.crypto_info
	width: 100%
	font-size: 0px
	display: flex
	padding: 0px 4.3%
	justify-content: space-between
	align-items: center
	position: relative	
	.crypto_info_img, .crypto_info_text
		width: calc(50% - 15px)
	.crypto_info_img 
		margin-right: 15px
		display: flex
		align-items: center	
		justify-content: center
		padding: 15px
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
		position: relative
		z-index: 3
		background-color: #fff
		img
			width: 50%
			transform: scale(2)
	.crypto_info_text
		.main_text_title
			.main_line
				background-color: $green_main
	.main_circle_img
		position: absolute
		z-index: -1
		right: 0
		top: 0
		transform: translate(0, -41.15%)
		width: 66.8%
		img
			width: 100%
.crypto_items
	width: 100%
	padding-bottom: 150px
	.crypto_item_popup
		position: fixed
		z-index: 10
		width: 100%
		height: 100%
		top: 0
		left: 0
		display: none
		padding: 0
		background-color: rgba(0, 0, 0, .2)
	.popup_form
		position: fixed
		top: 50%
		left: 50%
		display: none
		transform: translate(-50%, -50%)
		width: 60%
		margin-left: 0
		z-index: 11
		.close
			position: absolute
			right: 32px
			top: 32px
			width: 32px
			height: 32px
			cursor: pointer
		.close:before, .close:after 
			position: absolute
			left: 15px
			content: ' '
			height: 33px
			width: 2px
			background-color: $green_main
		.close:before 
			transform: rotate(45deg)
		.close:after 
			transform: rotate(-45deg)
	.crypto_item
		position: relative
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: nowrap
		padding: 100px 9.75% 0px 9.75%
		width: 100%
		.crypto_item_img
			display: inline-block
			width: 15%	
			img

				width: 100%	
		.crypto_item_text
			display: inline-block
			width: calc(100% - 45%)
			margin: 0px 7.5%
			.main_text_title
				.main_line
					background-color: $green_main
		.crypto_item_button
			height: 50px
			width: 15%
			display: inline-block	
			text-align: center	
			background-color: $green_main
			cursor: pointer
			transition: .3s
			padding: 5px
			p
				line-height: 40px	
				color: #fff
				font-size: 18px
				text-align: center
		.crypto_item_button:hover
			transform: scale(1.2)
	.crypto_item:nth-child(even)
		.crypto_item_img
			order: 2
		.crypto_item_text
			order: 1
			text-align: right
			.main_text_title
				.main_line
					margin-left: 50%
.crypto_feedback
	border-bottom: 2px solid $green_main
	.feedback_text
		.main_text_title
				.main_line
					background-color: $green_main	
		.feedback_form
			box-shadow: none
			padding: 0px
			margin-left: 0	
			background-color: transparent
			.form_title
				color: $green_main
			input
				background-color: transparent
			button
				background-color: $green_main	
	.feedback_map
		.feedback_map_info
			p
				font-size: 16px	
				line-height: 1.2
				font-weight: bold
				position: relative
				span:nth-child(1)
					font-weight: bold
					color: $green_main
				span:nth-child(2)
					position: absolute
					left: 80px
.crypto_notf
	height: 500px
	border-bottom: 2px solid $green_main
	display: flex
	align-items: center
	width: 100%
	padding: 100px 4.3%
	justify-content: center
	overflow: hidden
	flex-wrap: wrap
	align-content: center
	p
		font-size: 40px
		color: $green_main
		text-align: center
		width: 100%
	a
		background-color: $lightgray
		display: block
		text-decoration: none
		color: $black
		margin-top: 30px
		font-size: 32px
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
		div
			padding: 10px
		p
			color: $black
.crypto_info
	width: 100%
	font-size: 0px
	display: flex
	padding: 0px 4.3%
	justify-content: space-between
	align-items: center
	position: relative	
	.crypto_info_img, .crypto_info_text
		width: calc(50% - 15px)
	.crypto_info_img 
		margin-right: 15px
		display: flex
		align-items: center	
		justify-content: center
		padding: 15px
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
		position: relative
		z-index: 3
		background-color: #fff
		img
			width: 50%
			transform: scale(2)
	.crypto_info_text
		.main_text_title
			.main_line
				background-color: $green_main
.blogs_head
	margin-top: 200px
	width: 100%
	font-size: 0
	position: relative
	padding-bottom: 100px
	.date
		color: $green_main
	.blogs_head_items
		padding: 0px 4.3%
		display: flex
		flex-wrap: mowrap
		align-items: center
		z-index: 3
		position: relative
		.blogs_head_img, .blogs_head_text
			width: 50%
		.blogs_head_img
			margin-right: 15px
			box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
			background-color: #fff
			img
				width: 100%	
		.blogs_head_text
			padding-left: 15px
			.blogs_head_button
				background-color: $green_main
				width: 170px
				height: 50px
				display: block
				text-decoration: none
				transition: 0.4s
				p
					position: relative
					top: 50%
					text-align: center
					transform: translate(0%, -50%)
					color: #fff
					font-size: 18px	
			.blogs_head_button:hover
				transform: scale(1.2)
.blogs_items
	padding: 0px 4.3%
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	overflow: hidden
	.main_circle_img
		position: absolute
		z-index: -1
		right: 0
		transform: translate(0, -41.15%)
		width: 66.8%
		img
			width: 100%
	.blogs_item
		width: calc(33.33% - 20px)
		font-size: 0
		margin-bottom: 20px
		display: block
		text-decoration: none
		.blogs_item_img
			width: 100%
			position: relative
			height: 320px
			left: 50%
			transform: translate(-50%, 0)
			text-align: center
			z-index: 3
			background-color: #fff
			text-align: center
			margin-bottom: 20px
			box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
			.blogs_item_img_wrapper
				overflow: hidden
				width: 100%
				height: 100%
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: center
				align-items: center
				img
					width: 100%
					transition: 1s
					position: relative
					opacity: 1
					z-index: 2
					overflow: hidden
			.blogs_item_img_date
				position: absolute
				bottom: 15px
				left: -15px
				background-color: $green_main
				height: 80px
				padding: 10px
				color: #fff
				z-index: 4
				box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
				p
					color: #fff
					line-height: 1.2
				.day
					font-size: 25px
					
				.month
					font-size: 21px
		.blogs_item_img::before, .blogs_item_img::after
			content: ''
			position: absolute
			top: 3%
			left: 3%
			z-index: 3
			bottom: 3%
			right: 3%
			transition: .6s
		.blogs_item_img::before
			border-bottom: 3px solid $green_main					
			border-top: 3px solid $green_main
			transform: scaleX(0)
		.blogs_item_img::after
			border-right: 3px solid $green_main					
			border-left: 3px solid $green_main
			transform: scaleY(0)
		.main_text_title
			p
				font-size: 21px	
	.blogs_item:hover
		.blogs_item_img
			img
				transform: scale(1.2)
				opacity: 0.8
		.blogs_item_img::before, .blogs_item_img::after
			transform: scale(1)
.blog_head
	padding: 0px 4.3%
	max-height: 400px
	width: 100%
	overflow: hidden
	margin-top: 200px
	position: relative
	display: -webkit-inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: flex
	justify-content: center
	align-items: center
	.blog_head_img
		width: 100%
		background-color: #000
		img
			opacity: 0.5
			width: 100%
	.blog_head_text
		position: absolute
		text-align: center
		width: 60%
		z-index: 3
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		h1
			font-size: 36px
			color: #fff
			font-weight: bold
			a
				text-decoration: none
				color: #fff
.blog_content
	padding: 0px 4.3%
	width: 100%
	padding-top: 50px
	.blog_content_popup
		position: fixed
		z-index: 10
		width: 100%
		height: 100%
		top: 0
		left: 0
		display: none
		padding: 0
		background-color: rgba(0, 0, 0, .2)
	.popup_form
		position: fixed
		top: 50%
		left: 50%
		display: none
		transform: translate(-50%, -50%)
		width: 60%
		margin-left: 0
		z-index: 11
		.close
			position: absolute
			right: 32px
			top: 32px
			width: 32px
			height: 32px
			cursor: pointer
		.close:before, .close:after 
			position: absolute
			left: 15px
			content: ' '
			height: 33px
			width: 2px
			background-color: $green_main
			
		.close:before 
			transform: rotate(45deg)
		
		.close:after 
			transform: rotate(-45deg)
	.main_circle_img
		position: absolute
		z-index: -1
		right: 0
		transform: translate(0, -41.15%)
		width: 66.8%
		img
			width: 100%
	.blog_content_item
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		align-items: center
		font-size: 0
		margin-bottom: 30px
		.blog_content_item_img, .blog_content_item_text
			width: calc(50% - 15px)
		.blog_content_item_img
			box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
			background-color: #fff
			img
				width: 100%
		.video
			position: relative	
			padding-bottom: 28.125%
			padding-top: 25px
			height: 0
			iframe
				position: absolute
				top: 0
				left: 0	
				width: 100%	
				height: 100%	
		.blog_content_item_text
			.main_text_content
				ul, ol
					margin-bottom: 20px
					margin-left: 20px
			.blog_content_item_button
				height: 50px
				background-color: $green_main
				transition: .3s
				margin-top: 30px
				cursor: pointer
				display: inline-block
				padding: 0px 20px
				p
					color: #fff
					font-size: 18px
					line-height: 50px
					text-align: center

			.blog_content_item_button:hover
				transform: scale(1.2)
	.blog_content_item:nth-child(odd)
		.blog_content_item_img
			order: 1
		.blog_content_item_text
			order: 2
	
