@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Bold.woff") format("woff"); }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Circe", sans-serif;
  color: #0d0d0d; }

.main_wrapper {
  overflow: hidden;
  margin-bottom: 600px; }
  .main_wrapper .main_text_title {
    display: inline-block; }
    .main_wrapper .main_text_title p {
      font-size: 24px;
      font-weight: bold; }
  .main_wrapper .main_line {
    width: 50%;
    height: 2px;
    background-color: #21b355;
    margin: 15px 0px 25px 0px; }
  .main_wrapper .main_text_content {
    font-size: 16px; }
    .main_wrapper .main_text_content p {
      margin-bottom: 25px; }
  .main_wrapper .form_title {
    font-size: 21px;
    color: #21b355;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 25px; }

.header_wrapper {
  width: 100%;
  padding: 25px 4.3%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4; }
  .header_wrapper .header {
    padding: 0px 70px;
    height: 75px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff; }
    .header_wrapper .header .logo {
      width: 19.4%; }
      .header_wrapper .header .logo img {
        width: 100%; }
    .header_wrapper .header .main_nav ul li {
      list-style-type: none;
      display: inline-block;
      padding-left: 35px; }
      .header_wrapper .header .main_nav ul li a {
        line-height: 1.2;
        font-size: 21px;
        color: #0d0d0d;
        text-decoration: none; }
      .header_wrapper .header .main_nav ul li a:hover {
        color: #21b355; }

.main_head {
  width: 100%;
  position: relative; }
  .main_head .main_head_img {
    position: relative;
    top: 0;
    left: 35.78%;
    width: 64.22%; }
    .main_head .main_head_img img {
      width: 100%; }
  .main_head .main_head_text {
    margin-left: 4.3%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    .main_head .main_head_text .main_head_title {
      font-size: 50px;
      line-height: 1.2; }
      .main_head .main_head_text .main_head_title span {
        color: #21b355; }
    .main_head .main_head_text .main_head_subtitle {
      color: #757575;
      font-size: 21px;
      line-height: 1.2; }
  .main_head .main_head_ckroll {
    position: absolute;
    -webkit-transform: rotate(90deg) translate(-50%, 0);
    -ms-transform: rotate(90deg) translate(-50%, 0);
    transform: rotate(90deg) translate(-50%, 0);
    -webkit-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    transform-origin: right top 0;
    right: 0;
    margin-top: 50px;
    margin-right: 4.35%; }
    .main_head .main_head_ckroll .main_head_ckroll_text {
      color: #0d0d0d;
      font-size: 16px;
      font-weight: bold;
      display: inline-block; }
    .main_head .main_head_ckroll .main_head_ckroll_line {
      background-color: #0d0d0d;
      height: 2px;
      width: 50px;
      vertical-align: middle;
      margin-left: 7px;
      display: inline-block; }

.main_about {
  width: 100%;
  font-size: 0;
  position: relative;
  padding-bottom: 100px; }
  .main_about .main_circle_img {
    position: absolute;
    z-index: 2;
    right: 0;
    -webkit-transform: translate(0, -41.15%);
    -ms-transform: translate(0, -41.15%);
    transform: translate(0, -41.15%);
    width: 66.8%; }
    .main_about .main_circle_img img {
      width: 100%; }
  .main_about .main_about_items {
    padding: 0px 4.3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: mowrap;
    flex-wrap: mowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 3;
    position: relative; }
    .main_about .main_about_items .main_about_img, .main_about .main_about_items .main_about_text {
      width: 50%; }
    .main_about .main_about_items .main_about_img {
      padding-right: 15px; }
    .main_about .main_about_items .main_about_text {
      padding-left: 15px; }

.main_use {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 4.3%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 0px; }
  .main_use .main_use_text, .main_use .main_use_form {
    width: 50%; }
  .main_use .main_use_text {
    margin-right: 15px; }
  .main_use .main_use_form {
    margin-left: 15px;
    background-color: #fff;
    position: relative;
    z-index: 3;
    padding: 55px 70px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); }
    .main_use .main_use_form .forma_group {
      margin-bottom: 25px; }
      .main_use .main_use_form .forma_group input {
        border: 0px;
        outline: 0px;
        border-bottom: 1px solid #757575;
        width: 100%;
        font-size: 18px;
        color: #757575; }
    .main_use .main_use_form .checkbox input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 20px; }
    .main_use .main_use_form .checkbox .checkbox_text {
      position: relative;
      padding: 0 0 0 60px;
      cursor: pointer;
      font-size: 16px;
      color: #0d0d0d; }
    .main_use .main_use_form .checkbox .checkbox_text:before {
      content: '';
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      -webkit-box-shadow: inset 0px 1px 3px 0px rgba(13, 13, 13, 0.5);
      box-shadow: inset 0px 1px 3px 0px rgba(13, 13, 13, 0.5);
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      background-color: #fff; }
    .main_use .main_use_form .checkbox input:checked + .checkbox_text:before {
      background: #21b355;
      -webkit-box-shadow: inset 0px 1px 3px 0px rgba(13, 13, 13, 0.5);
      box-shadow: inset 0px 1px 3px 0px rgba(13, 13, 13, 0.5); }
    .main_use .main_use_form button {
      height: 50px;
      width: 130px;
      background-color: #21b355;
      border: 0px;
      cursor: pointer;
      margin-top: 30px; }
      .main_use .main_use_form button p {
        font-size: 18px;
        text-align: center;
        color: #fff; }
    .main_use .main_use_form button:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .main_use .main_use_form button:hover p {
        font-size: 21px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }

.main_with {
  width: 100%;
  padding: 100px 4.3%;
  font-size: 0px; }
  .main_with .main_with_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main_with .main_with_item {
    width: 21.37%;
    text-align: center; }
    .main_with .main_with_item .main_with_img {
      width: 40%;
      margin: auto; }
      .main_with .main_with_item .main_with_img img {
        width: 100%; }
    .main_with .main_with_item .main_with_title {
      font-size: 24px;
      font-weight: bold;
      color: #21b355;
      margin: 15px 0px;
      line-height: 1.2; }
    .main_with .main_with_item .main_with_text {
      font-size: 16px; }

.ai_head {
  position: relative; }
  .ai_head .ai_head_bcg {
    width: 100%; }
  .ai_head .main_title, .ai_head .ai_head_text {
    position: absolute;
    padding-left: 40px; }
  .ai_head .main_title {
    top: 0px;
    left: 0px; }
  .ai_head .ai_head_text {
    top: 40%;
    width: 40%; }

.ai_items {
  padding: 70px 15%; }
  .ai_items .ai_item {
    width: 100%;
    font-size: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0px;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .ai_items .ai_item_img, .ai_items .ai_item_text {
    width: 50%;
    padding: 0px 20px; }
  .ai_items .ai_item_img img {
    width: 100%; }
  .ai_items .ai_item_text {
    font-size: 20px; }
    .ai_items .ai_item_text .ai_item_text_title {
      color: #21b355;
      font-size: 25px;
      margin-bottom: 20px; }
    .ai_items .ai_item_text .ai_item_text_content {
      font-size: 18px;
      font-weight: bold;
      color: #333; }
  .ai_items img[src*="ffp"] {
    width: 50%; }
  .ai_items .ai_item:nth-child(even) .ai_item_img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .ai_items .ai_item:nth-child(even) .ai_item_text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
